    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        background-color: #ffffff;
        color: #555;
        font-family: 'Lato', 'Arial', sans-serif;
        font-size: 20px;
        text-rendering: optimizeLegibility;
    }
    /* Reusable items */
    
    .row {
        max-width: 1140px;
        margin: 0 auto;
    }
    
    section {
        padding: 80px 0;
    }
    /* Hero Image */
    
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Strony/img/DSC01609.JPG);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    .hero-text {
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    h1 {
        margin-bottom: 20px;
        color: #ffffff;
        font-size: 240%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 4px;
    }
    /* Hero Image button */
    
    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
    }
    
    .btn-full:link,
    .btn-full:visited {
        background-color: #e67e22;
        border-radius: 50px;
        border: solid 1px #e67e22;
        margin-right: 15px;
    }
    
    .ghost-btn:link,
    .ghost-btn:visited {
        border: solid 1px #e67e22;
        border-radius: 50px;
        background-color: #0000003f;
        color: #e67e22;
    }
    
    .btn:hover,
    .btn:active {
        background-color: #bf6516;
        border: solid 1px #bf6516;
        transition: background-color 0.2s;
    }
    
    .ghost-btn:hover,
    .ghost-btn:active {
        background-color: #bf6516;
        border: solid 1px #bf6516;
        color: #ffffff;
    }
    /* Navigation */
    
    #nav-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        margin-top: 40px;
    }
    
    .nav-top {
        margin: 40px 0;
        list-style: none;
        width: 100%;
        text-align: right;
    }
    
    .nav-top li {
        padding: 0 20px;
        display: inline-block;
    }
    
    .nav-top li a:link,
    .nav-top li a:visited {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        padding-bottom: 5px;
        border-bottom: 4px solid transparent;
        transition: border-bottom 0.2s;
    }
    
    .nav-top li a:hover,
    .nav-top li a:active {
        border-bottom: 4px solid #bf6516;
    }
    /* First section */
    
    h2 {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 2px;
        font-size: 180%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    h2::after {
        display: block;
        margin: 0 auto;
        height: 5px;
        background-color: #bf6516;
        content: " ";
        width: 200px;
        margin-top: 20px;
    }
    
    .long-copy {
        line-height: 145%;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
    }
    
    .box {
        padding: 4% 1%;
    }
    
    .box p {
        font-size: 90%;
        line-height: 145%;
        text-align: justify;
    }
    
    h3 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 110%;
        margin-bottom: 15px;
    }
    
    .icon-big {
        font-size: 300%;
        display: block;
        color: #bf6516;
        margin-bottom: 10px;
    }
    /* Second section - gallery */
    
    .images {
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 3px;
    }
    
    @media (min-width: 1000px) {
        .images {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    .images p {
        padding: 50% 0;
        text-align: center;
        font-size: 140%;
        color: transparent;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .images p:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    #img-1,
    #img-2,
    #img-3,
    #img-4,
    #img-5,
    #img-6,
    #img-7,
    #img-8 {
        background-position: center;
        background-size: cover;
    }
    
    #img-1 {
        background-image: url(../CSS/img/1.jpg);
    }
    
    #img-2 {
        background-image: url(../CSS/img/2.jpg);
    }
    
    #img-3 {
        background-image: url(../CSS/img/3.jpg);
    }
    
    #img-4 {
        background-image: url(../CSS/img/4.jpg);
    }
    
    #img-5 {
        background-image: url(../CSS/img/5.jpg);
    }
    
    #img-6 {
        background-image: url(../CSS/img/6.jpg);
    }
    
    #img-7 {
        background-image: url(../CSS/img/7.jpg);
    }
    
    #img-8 {
        background-image: url(../CSS/img/8.jpg);
    }
    /* phone and buttons section */
    
    .steps {
        background-color: #d8d8d8;
    }
    
    .box-phone {
        margin-top: 30px;
        padding-top: 30px;
    }
    
    .box-phone:first-child {
        text-align: right;
        padding-right: 3%;
    }
    
    .box-phone:last-child {
        padding-left: 3%;
        margin-top: 70px;
    }
    
    .phone {
        width: 40%;
    }
    
    .works-step {
        margin-bottom: 50px;
    }
    
    .works-step div {
        color: #bf6516;
        border: 2px solid #bf6516;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 5px;
        float: left;
        font-size: 150%;
        margin-right: 3%;
    }
    
    .works-step:last-of-type {
        margin-bottom: 80px;
    }
    
    .btn-app img {
        height: 50px;
        margin-right: 10px;
    }
    /* Section with cities */
    
    .wrapper {
        margin-top: 4%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-left: 10%;
        margin-right: 10%;
        grid-gap: 20px;
    }
    
    .wrapper img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    
    .wrapper h3 {
        padding-top: 10px;
    }
    
    .icon-small {
        display: inline-block;
        text-align: center;
        font-size: 120%;
        color: #bf6516;
        line-height: 120%;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 10px;
    }
    
    .city-feature {
        padding: 5px;
    }
    
    .city-feature a:link,
    .city-feature a:visited {
        text-decoration: none;
        color: #e67e22
    }
    
    .city-feature a:hover,
    .city-feature a:active {
        color: #bf6516;
    }